---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Asad Z. | <a href="https://github.com/essayyzed/essayyzed.github.io">GitHub</a> | <a href="mailto:essayyzed@gmail.com">Email</a>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		font-size: 0.8rem;
	}
</style>
